@charset "utf-8";
/* CSS Document */

/* 共用規格 */
a, a:active { text-decoration:none; outline: none;}

input , button { outline: none;}

body { background:#f4f5f7; margin: 0 auto; padding:0; font-family: Helvetica,"Microsoft Yahei",Arial,sans-serif; overflow:auto; overflow-x: hidden;}

.page { margin: 0 auto;}

	/*下載資訊*/
	.ttpush_info{ width:100%; background:#ffffff; border-bottom:2px solid #ec4078;}
		.ttpush_logo{ float:left;}
			.ttpush_logo img{}
		.topic{ float:left;}
			.ttpush_mtopic{ color:#666666;}
			.ttpush_stopic{ color:#ec4078;}
		.btn_d{ float:right; display:block; color:#ffffff; text-align:center; background:#ec4078; border-radius:5px;}


	/*照片區*/
	#tabsC{ clear:both; padding:0px; margin:0px; width:100vw; background:#ffffff; overflow: hidden;}
	
	#tabsF{ width:100%; margin:0; padding:0; background:#ffffff;}
		#tabsF ul{ margin:0; padding:0; list-style:none; overflow:auto;}
			#tabsF li{ float:left; margin:0; padding:0; width:50vw; text-align:center;}
				#tabsF a{ margin:0;}
					#tabsF a div{ display:block; color:#999999;}
					#tabsF a:active div { color:#ec4078;}
					
					
					#tabsF a div.tab_bg1{ background:url(../images/scenic/btn_picture.png) no-repeat;}
					#tabsF a:active div.tab_bg1{ background:url(../images/scenic/btn_picture_h.png) no-repeat;}
					
					
					#tabsF a div.tab_bg2{ background:url(../images/scenic/btn_video.png) no-repeat;}
					#tabsF a:active div.tab_bg2{ background:url(../images/scenic/btn_video_h.png) no-repeat;}
					

					#tabsF #current a{ color:#ec4078;}
						#tabsF #current a div{ color:#ec4078;}
					
					#tabsF #current a div.tab_bg1{ background:url(../images/scenic/btn_picture_h.png) no-repeat;}
					#tabsF #current a div.tab_bg2{ background:url(../images/scenic/btn_video_h.png) no-repeat;}
					
					
					
		/*照片*/
    	.swiper-container { width: 100%;}
    	.swiper-slide { text-align: center; background:#ffffff;
						/* Center slide text vertically */
						display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
						-webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; overflow:hidden;}
						
			.swiper-slide img{ width:100%; height:auto;}
			
		/*影片*/
		.video_show{ width:100vw; height:62.5vw;}
			.video_show iframe{ width:100%; height:100%;}
			


	/*景點名稱區*/
	.scenic_spots{ font-weight:bold; background:#ffffff; overflow-wrap:break-word;}
	

	/* main */
	.main{ background:#ffffff; color:#494949; letter-spacing: 1px; overflow-wrap:break-word; text-align: justify;}
		p{ color:#000000; overflow-wrap:break-word; white-space:pre-line;}
				a{ color:#ec4078;}
		
			.main img{ margin:10px 0; width:100%; height:auto;}
			
			.main video{ margin:10px 0; width:100%; height:auto;}
				
			.main ul{ margin:0; padding-top:10px; padding-bottom:10px; padding-left:20px;}
			
			.main h1, .main h2, .main h3, .main h4, .main h5, .main h6{ margin:10px 0;}
	
		
			
		
		
/* 各別規格 */
@media screen and (min-width:768px){

.page { width:638px;}

	/*下載資訊*/
	.ttpush_info{ height:56px; width:638px;}
		.ttpush_logo{ margin-top:13px; margin-left:12px; margin-right:9px;}
			.ttpush_logo img{ width:30px; height:30px;}
		.topic{}
			.ttpush_mtopic{ margin-top:11px; font-size:13px;}
			.ttpush_stopic{ margin-top:3px; font-size:11px;}
		.btn_d{ width:75px; height:30px; margin-top:13px; margin-right:9px; font-size:13px; line-height:30px;}
		


	/*照片影片區*/
	#tabsC{ width:100%;}
	
	#tabsF{ margin-bottom:20px; font-size:20px;}
	
			#tabsF li{ width:50%;}
			
					#tabsF a div.tab_bg1, #tabsF a:active div.tab_bg1, #tabsF a div.tab_bg2, #tabsF a:active div.tab_bg2, #tabsF #current a div.tab_bg1, #tabsF #current a div.tab_bg2{ background-size:319px 106px;}
				
					#tabsF a div{ padding:68px 0 15px 0;}
					
		/*照片*/		
    	.swiper-slide { height:399px;}
			
		/*影片*/
		.video_show{ width:638px; height:479px;}
			

	/*景點名稱區*/
	.scenic_spots{ padding:20px; font-size:1.6875em;}
	

	/* main */
	.main{ margin-top:20px; padding:20px; font-size:16px;}
			p{ font-size:16px; line-height:1.41em; font-weight:400;}
	
	
		
	}
	
	
	

@media screen and (min-width: 480px) and (max-width: 767px){

	/*下載資訊*/
	.ttpush_info{ height:56px;}
		.ttpush_logo{ margin-top:13px; margin-left:12px; margin-right:9px;}
			.ttpush_logo img{ width:30px; height:30px;}
		.topic{}
			.ttpush_mtopic{ margin-top:11px; font-size:13px;}
			.ttpush_stopic{ margin-top:3px; font-size:11px;}
		.btn_d{ width:75px; height:30px; margin-top:13px; margin-right:9px; font-size:13px; line-height:30px;}
		
		
	
	/*照片影片區*/
	#tabsF{ margin-bottom:20px; font-size:16px;}
			
					#tabsF a div.tab_bg1, #tabsF a:active div.tab_bg1, #tabsF a div.tab_bg2, #tabsF a:active div.tab_bg2, #tabsF #current a div.tab_bg1, #tabsF #current a div.tab_bg2{ background-size:50vw 100%;}
				
					#tabsF a div{ padding:50px 0 12px 0;}
					
		/*照片*/		
    	.swiper-slide { height:300px;}
			

	/*景點名稱區*/
	.scenic_spots{ padding:20px; font-size:1.6875em;}
	

	/* main */
	.main{ margin-top:20px; padding:20px; font-size:16px;}
			p{ font-size:16px; line-height:1.41em; font-weight:400;}
	
	
		
	}

	
	
@media screen and (min-width: 411px) and (max-width: 479px){

	/*下載資訊*/
	.ttpush_info{ height:56px;}
		.ttpush_logo{ margin-top:13px; margin-left:12px; margin-right:9px;}
			.ttpush_logo img{ width:30px; height:30px;}
		.topic{}
			.ttpush_mtopic{ margin-top:11px; font-size:13px;}
			.ttpush_stopic{ margin-top:3px; font-size:11px;}
		.btn_d{ width:75px; height:30px; margin-top:13px; margin-right:9px; font-size:13px; line-height:30px;}
				
				
				
	/*照片影片區*/
	#tabsF{ margin-bottom:17px; font-size:15px;}
			
					#tabsF a div.tab_bg1, #tabsF a:active div.tab_bg1, #tabsF a div.tab_bg2, #tabsF a:active div.tab_bg2, #tabsF #current a div.tab_bg1, #tabsF #current a div.tab_bg2{ background-size:50vw 100%;}
				
					#tabsF a div{ padding:43px 0 10px 0;}
					
		/*照片*/		
    	.swiper-slide { height:257px;}
			

	/*景點名稱區*/
	.scenic_spots{ padding:17px; font-size:1.445em;}
	

	/* main */
	.main{ margin-top:17px; padding:17px; font-size:14px;}
			p{ font-size:14px; line-height:1.41em; font-weight:400;}
	
	
				
				
	}
	
	
	
@media screen and (min-width: 375px) and (max-width: 410px){

	/*下載資訊*/
	.ttpush_info{ height:56px;}
		.ttpush_logo{ margin-top:13px; margin-left:12px; margin-right:9px;}
			.ttpush_logo img{ width:30px; height:30px;}
		.topic{}
			.ttpush_mtopic{ margin-top:11px; font-size:13px;}
			.ttpush_stopic{ margin-top:3px; font-size:11px;}
		.btn_d{ width:75px; height:30px; margin-top:13px; margin-right:9px; font-size:13px; line-height:30px;}
				
				
					
	/*照片影片區*/
	#tabsF{ margin-bottom:16px; font-size:14px;}
			
					#tabsF a div.tab_bg1, #tabsF a:active div.tab_bg1, #tabsF a div.tab_bg2, #tabsF a:active div.tab_bg2, #tabsF #current a div.tab_bg1, #tabsF #current a div.tab_bg2{ background-size:50vw 100%;}
				
					#tabsF a div{ padding:39px 0 9px 0;}
					
		/*照片*/		
    	.swiper-slide { height:234px;}
			

	/*景點名稱區*/
	.scenic_spots{ padding:16px; font-size:1.32em;}
	

	/* main */
	.main{ margin-top:16px; padding:16px; font-size:14px;}
			p{ font-size:14px; line-height:1.41em; font-weight:400;}
	
				
				
	}
			
				



@media screen and (min-width: 360px) and (max-width: 374px){

	/*下載資訊*/
	.main{ margin-top:56px;}
	.ttpush_info{ height:56px;}
		.ttpush_logo{ margin-top:13px; margin-left:12px; margin-right:9px;}
			.ttpush_logo img{ width:30px; height:30px;}
		.topic{}
			.ttpush_mtopic{ margin-top:11px; font-size:13px;}
			.ttpush_stopic{ margin-top:3px; font-size:11px;}
		.btn_d{ width:75px; height:30px; margin-top:13px; margin-right:9px; font-size:13px; line-height:30px;}
				
				
				
	/*照片影片區*/
	#tabsF{ margin-bottom:15px; font-size:13px;}
			
					#tabsF a div.tab_bg1, #tabsF a:active div.tab_bg1, #tabsF a div.tab_bg2, #tabsF a:active div.tab_bg2, #tabsF #current a div.tab_bg1, #tabsF #current a div.tab_bg2{ background-size:50vw 100%;}
				
					#tabsF a div{ padding:38px 0 9px 0;}
					
		/*照片*/		
    	.swiper-slide { height:225px;}
			

	/*景點名稱區*/
	.scenic_spots{ padding:15px; font-size:1.27em;}
	

	/* main */
	.main{ margin-top:15px; padding:15px; font-size:14px;}
			p{ font-size:14px; line-height:1.41em; font-weight:400;}
	
				
				
}




@media only screen and (max-width:359px){

	/*下載資訊*/
	.ttpush_info{ height:46px;}
		.ttpush_logo{ margin-top:9px; margin-left:9px; margin-right:7px;}
			.ttpush_logo img{ width:28px; height:28px;}
		.topic{}
			.ttpush_mtopic{ margin-top:8px; font-size:12px;}
			.ttpush_stopic{ margin-top:0; margin-left:-18px; font-size:10px;}
					@media screen and (-webkit-min-device-pixel-ratio:0) {
						/* Safari and Chrome, if Chrome rule needed */
							.ttpush_stopic{ -webkit-transform:scale(0.83);}
						/* Safari 5+ ONLY */
							::i-block-chrome, .ttpush_stopic{ font-size:10px;}
						}
						@-moz-document url-prefix(){
							.ttpush_stopic{ font-size:10px;}
							} /*firefox*/
		.btn_d{ width:65px; height:28px; margin-top:9px; margin-right:7px; font-size:12px; line-height:28px;}
				
				
				
	/*照片影片區*/
	#tabsF{ margin-bottom:13px; font-size:12px;}
			
					#tabsF a div.tab_bg1, #tabsF a:active div.tab_bg1, #tabsF a div.tab_bg2, #tabsF a:active div.tab_bg2, #tabsF #current a div.tab_bg1, #tabsF #current a div.tab_bg2{ background-size:50vw 100%;}
				
					#tabsF a div{ padding:33px 0 8px 0;}
					
		/*照片*/		
    	.swiper-slide { height:200px;}
			

	/*景點名稱區*/
	.scenic_spots{ padding:13px; font-size:1.125em;}
	

	/* main */
	.main{ margin-top:13px; padding:13px; font-size:12px;}
			p{ font-size:12px; line-height:1.41em; font-weight:400;}
			
	
							
	}
			
